body {
  background-color: #98ffdb;
}

header {
  background-color: #a35fd3;
  color: #f8f272;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

thead {
  background-color: #a35fd3;
  color: #f8f272;
  text-align: center;
  width: auto;
}

thead th:nth-child(7) {
  width: 10%;
}

tbody tr td{
  border: 1.5px solid purple;
  padding-left: 5px;
}

tbody tr td:nth-child(4){
  text-align:center;
}

tbody tr td:nth-child(5){
  text-align: end;
}

tbody tr td:nth-child(6){
  text-align: end;
}

tbody tr td:nth-child(7){
  text-align: center;
}

tbody tr:nth-child(even){
  background-color: lavender;
}

tbody tr:nth-child(odd){
  background-color: #98ffdb;
}
footer {
  display: flex;
  justify-content: space-between;
}

#footer-text {
  float: left;
  flex-grow: 0.5;
}

#monthlyCost {
  float: right;
  flex-grow: 0.5;
  text-align: center;
}
.over-budget {
  background-color: #ffa07a;
  color: #d2042d;
  font-weight: bold;
  font-size: larger;
}
